h1{
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

h2{ 
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

body{ 
	background-color:#5e3c58;
	text-align: center;
	padding: 5%;
	font-family: tahoma, sans-serif;
}


#container{
	display: inline;
}

p{
	text-align: center;
	padding: 1%;
	border-width: .15cm
}

#frankie1{
	display: inline-block;
	width: 50%;
	border-color: #000000;
}
	position: center;
	border-style: solid;