h1{
	text-align: center;
	margin: 0 auto 20px auto;
	font-family: 'Quicksand', sans-serif;
	border-style: inset;
	background-color: #c7bbc9;
}

h2{ 
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

body{ 
	background-color:#5e3c58;
	text-align: center;
	padding: 5%;
	font-family: tahoma, sans-serif;
}

div#wrapper{
	margin: 0 auto;
}

div#RMNP{
	width: 40%;
	float: left;
	overflow: hidden;
}

div#climbing{
	width: 60%;
	float: left;
	overflow: hidden;
	height: 100%;
}


#container{
	display: inline;
}

p{
	margin-top: 0;
	text-align: left;
}

#frankie1{	
	height: 100%;
	width: 70%;
	border-color: #000000;
	border-style: inset;
}