h1{
	text-align: center;
	margin: 0 auto;
	font-family: 'Quicksand', sans-serif;
	width: 50%;
	letter-spacing: .3cm;
	border-style: inset;
	background-color: #c7bbc9;
}

h3{
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}


a{
	color: #c7bbc9;
}

body{
	background-color: #5e3c58;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

#frankie{
	display: inline-block;
	width: 35%;
	border-style: inset;
	border-width: .15cm;
	border-color: #000000;
}